manifest {
    name = 'Network data transfer testing'
    nextflowVersion = '22.10.0'
}

params {
    outdir = 'results'
    bigfilecount = 10
    bigfilesize = '1GB'
    smallfilecount = 0
    smallfilesize = '1M'
    summarize = false
}

process {
    container = 'quay.io/nextflow/bash'
}

profiles {
    test {
        params {
            outdir = 'results'
            bigfilecount = 10
            bigfilesize = '10MB'
            smallfilecount = 0
            smallfilesize = '1M'
            summarize = false
        }
    }
    justbig {
        params {
            outdir = 'results'
            bigfilecount = 10
            bigfilesize = '50GB'
            smallfilecount = 0
            smallfilesize = '1M'
            summarize = false
        }
    }
    bigandsmall {
        params {
            outdir = 'results'
            bigfilecount = 10
            bigfilesize = '50GB'
            smallfilecount = 1000
            smallfilesize = '1M'
            summarize = false
        }
    }
}
