manifest {
    name = "Rob Syme test template"
}

params {
    vcf = 's3://scidev-testing/projects/fusion-vep-stressor/inputs/HCC1395N.strelka.genome.vcf.gz'
    vep_cache = 's3://scidev-testing/projects/fusion-vep-stressor/vep_cache'
    fasta = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta'
}

process.container = 'quay.io/nextflow/bash'

process {
    withName:ENSEMBLVEP_VEP {
        cpus = 8
        memory = 12.GB
    }
}