manifest {
    name = "Rob Syme test template"
}

params {
    withdefault = "results"
    defaultisnull = null
    genome = 'human'
    genomes {
        'human' {
            name = 'Rob'
        }
    }
}

profiles {
    test {
        params.name = 'Adam'
    }
}

process.container = 'quay.io/nextflow/bash'
